* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    color: rgb(50, 50, 50);
}
div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header {
    padding-bottom: 10px;
    margin: 20px 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
}
header p {
    text-transform: uppercase;
    font-weight: 700;
}
main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
}
main div.income, main div.expense, main div.walletManagment {
    border: 1px solid rgb(50, 50, 50);
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px 0;
    background-color: rgb(250, 250, 250);
}
main div.income {
    margin-left: 15px;
}
main div.income span {
    color: green;
}
main div.expense, main div.income {
    flex-grow: 6;
    align-self: flex-start;
}
main div.expense i, main div.income i {
    margin-right: 10px;
}
main div.expense span {
    color: red;
}
li {
    display: flex;
    width: 100%;
}
main div.income span, main div.expense span {
    margin-left: auto;
}
span button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s;
}
span button:hover {
    transform: scale(1.25);
}
main div.walletManagment {
    flex-grow: 6;
    margin-right: 15px;
    text-align: center;
}
main div.walletManagment p.top {
    font-size: 30px;
    font-weight: 700;
    margin: 50px 0 15px 0;
}
main div.walletManagment p.money {
    font-size: 28px;
    margin-bottom: 50px;
}
main div.walletManagment div.buttons button, div.modal form div.buttonsModal button {
    background-color: transparent;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px 0;
    border: 1px solid rgb(50, 50, 50);
    transition: background-color 0.3s;
}
main div.walletManagment div.buttons button:hover, div.modal form div.buttonsModal button:hover {
    background-color: #eee;
}
main div.walletManagment div.buttons {
    margin-bottom: 50px;
}
main div.walletManagment div.style p {
    font-size: 20px;
}
main div.walletManagment div.style button {
    padding: 10px;
    margin: 20px 10px 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid rgb(50, 50, 50);
    cursor: pointer;
    transition: transform 0.3s;
}
main div.walletManagment div.style button:nth-of-type(1) {
    background-color: white;
}
main div.walletManagment div.style button:nth-of-type(2) {
    background-color: rgb(50, 50, 50);
}
main div.walletManagment div.style button:hover {
    transform: scale(0.85);
}
main div.walletManagment div.style button:focus, main div.walletManagment div.buttons button:focus {
    outline: none;
    border-color: royalblue;
}
main div.expense p, main div.income p {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}
main div.expense p {
    color: red;
}
main div.income p {
    color: green;
}
ul {
    padding: 10px;
    list-style: none;
}

div.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgb(50, 50, 50);
    border-radius: 5px;
}
div.modal h2 {
    margin-bottom: 25px;
}
div.modal small {
    margin-bottom: 10px;
}
div.modal form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
div.formBox * {
    display: block;
}
div.modal form label {
    font-size: 20px;
    margin-bottom: 5px;
}
div.modal form input {
    width: 100%;
    padding: 5px;
}
div.modal form select {
    width: 100%;
    padding: 5px;
    text-align: center;
}
div.modal form input, div.modal form select {
    border: 1px solid black;
}
div.modal form p.error, div.modal form p.noMoney {
    visibility: hidden;
    margin: 4px 0;
    color: red;
}
div.modal form div.buttonsModal button {
    padding: 10px;
    margin: 0 5px 0;
}
div.modal.active {
    display: block;
}
div.modal.active+div.wrapper {
    pointer-events: none;
    filter: blur(4px);
}
