* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
}
div.wrapper {
    position: relative;
    padding: 5% 5% 2%;
    background-color: #eee;
    border-radius: 2%;
    box-shadow: 0 0 3px whitesmoke;
    width: 30%;
    text-align: center;
    color: rgb(50, 50, 50);
    user-select: none;
    height: 90vh;
}
div.wrapper section.timer {
    margin-bottom: 5vh;
}
div.wrapper section.timer h1 {
    font-size: 48px;
}
div.wrapper section.timer p.countTime {
    margin-top: 5vh;
    font-size: 36px;
}
div.options button.help {
    position: absolute;
    top: 3vh;
    right: 3%;
}

div.buttons {
    display: flex;
    justify-content: space-between;
}
div.buttons button, div.archives button, button {
    padding: 2%;
    width: 22%;
    border-radius: 2%;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}
div.buttons button:hover, div.archives button:hover, button:hover {
    color: white;
    background-color: black;
}
div.archives {
    margin-top: 5vh;
    height: 45%;
}
div.archives button {
    width: 60%;
}
div.archives button.clear {
    width: 30%;
}
div.archives ol{
    visibility: hidden;
    margin-top: 5%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 10%;
}
div.archives ol.active {
    visibility: visible;
}
span {
    display: inline-block;
    width: 25%;
}
div.popup  {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 200%;
    left: 200%;
    transform: translate(-50%,-50%);
    padding: 2%;
    height: 50vh;
    width: 20%;
    background-color: rgb(50,50,50);
    color: whitesmoke;
    z-index: 1;
}
div.popup.active {
    visibility: visible;
    top: 50%;
    left: 50%;
}
button.popup {
    align-self: center;
    margin-top: 5vh;
    width: 50%;
}
div.popup.active + div.wrapper {
    filter: blur(4px);
    pointer-events: none;
}