* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blueviolet;
}
div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
div.info {
    text-align: center;
}
h1 {
    margin-bottom: 5%;
    font-size: 60px;
    letter-spacing: 1px;
}
div.info p{
    font-size: 24px;
}
div.ball {
    position: relative;
    margin: 8vh 0;
    height: 25vh;
    width: 20%;
}
img {
    position: absolute;
    width: 100%;
    transform: translateX(-23%);
    cursor: pointer;
}
div.content {
    text-align: center;
}
h2 {
    margin-bottom: 5%;
    font-size: 36px;
    letter-spacing: 1px;
}
input{
    padding: 2%;
    width: 100%;
    font-size: 22px;
    border: 1px solid black;
}
div.content {
    position: relative;
}
div.content p {
    position: absolute;
    width: 150%;
    bottom: -5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.animation-active {
    animation: shake 1s linear;
}

@keyframes shake {
    10% {left: 10%}
    20% {left: 15%;}
    40% {left: -15%;}
    60% {left: 15%;}
    80% {left: -15%;}
    100% {left: 0;}
}